.container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF !important;
}

.main{
    display: flex;
    flex-direction: column;
  
}

ion-tab-bar {
    --background: #ffffff;
    --color-selected: #000000;
    border-top: 1px solid;
}

ion-tab-button {
    --color: #0e2b7d;
}