<ion-content>
  <div class="container">
    <div class="navbar">
      <app-navbar></app-navbar>
    </div>
    <div class="main">
      <div class="card-list">
        <div class="slider-container">
          <swiper-container>
            <swiper-slide *ngFor="let item of insurerList">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{item.name}}</ion-card-title>
                  <ion-card-subtitle></ion-card-subtitle>
              
                  <ion-icon name="trash-outline" (click)="deleteInsurer(item._id)" class="delete-icon"></ion-icon>
                  <ion-icon name="create-outline" (click)="editInsurer(item)" class="edit-icon"></ion-icon>


                </ion-card-header>

                <ion-card-content>
                  <div class="content-container">
                    <div class="text-container">
                      {{item.description}}
                    </div>
                    <div class="logo-container">
                      <img [src]="item.logo" loading="lazy" class="logo-image" />
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>

            </swiper-slide>
          </swiper-container>
        </div>
      </div>
      <div class="form">
        <div class="form-title">
          <p>Agrega una aseguradora</p>
        </div>
        <div class="form-inputs" [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-input formControlName="name" aria-label="name" value=""
                placeholder="Nombre de aseguradora"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="description" aria-label="name" value="" placeholder="Descripción"></ion-input>
            </ion-item>
          </ion-list>
          <div class="galery-image">
            <app-camera (imageSelected)="onImageSelected($event)"></app-camera>
            <div *ngIf="form.get('logo')?.value">
              <img [src]="form.get('logo')?.value" class="img-select">
            </div>
          </div>
          <div class="submit" (click)="onSubmit()">
            <ion-button>Crear aseguradora</ion-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>