<ion-header style="box-shadow: none; " >
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-title class="header-title">
        Inicio
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start">
        <img src="../../../../assets/icon/lito.png" class="lito-img">
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon name="reorder-four-outline" class="custom-icon-color"></ion-icon>    
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  